<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple BigPipe Project</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #909090;">
  <h1>bigpipe_software</h1>

  
  <div id="content-1"></div>
  <div id="content-2"></div>
  <div id="content-3"></div>
  <div id="content-4"></div>
  <div id="content-5"></div>
  <div id="content-6"></div>
  <div id="content-7"></div>
  <div id="content-8"></div>
  <div id="content-9"></div>

  <style>
    h1{text-align: center;
    background-color: rgba(151, 131, 131, 0.247);
  color: black;}
  </style>

<button id="button_1" style="display: block ;margin: auto; background-color: rgb(114, 50, 50);color: rgb(0, 0, 0); padding: 10px 20px; font-size: 16px; border: solid; cursor: pointer
" onclick="location.reload()">
reload_page 
</button>
  <script src="/js/bigpipe.js"></script>
</body>
</html>











